{% extends "layout.php.twig" %}

{% block content %}


<form action="{{ path('feedback') }}" method="post">
    <p>
        <select size="6" multiple name="search[]">
            <option disabled>Дожны входить</option>

            {% for tag in tags %}
                <option value="{{ tag.id|e }}">{{ tag.name|e }}</option>
            {% endfor %}

        </select>
    </p>
    <p>
        <select size="6" multiple name="nosearch[]">
            <option disabled>Не дожны входить</option>

            {% for tag in tags %}
                <option value="{{ tag.id|e }}">{{ tag.name|e }}</option>
            {% endfor %}

        </select>
    </p>
    <p><input type="submit" value="Отправить"></p>
</form>

{% endblock %}
